* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* TOP BAR */
#topbar {
    height: 180px;
    width: 100%;
    background: #294c71;
}

#navigation {
    width: 68%;
    margin: 0 auto;
}

#menu {
    background: #294c71 url(./imagens/detalhe-topo.png) no-repeat right top;
    height: 180px;
}

#border {
    height: 50px;
    background: #294c71 url(./imagens/fundo.png) repeat-x;
}

#logo {
    padding-top: 25px;
}

#topbar a#atual {
    background-color: #e10039;
    color: #7c0223;
    cursor: text;
}

#topbar ul a{
    text-decoration: none;
    padding: 10px 20px;
    background: #b20030 url(./imagens/divisor.png) repeat-y;
    color: #fff;
}

#topbar ul a:hover {
    background: #e10039;
    color: #7c0223;
    transition: 500ms;
}

#topbar ul {
    list-style-type: none;
    display: flex;
    padding-top: 30px;
}

/* TOP BAR */

#escopo {
    width: 68%;
    margin: 0 auto;
    background: #f5f5f5;
}

/* BARRA LATERAL */

h2 {
    font-size: 1.2em;
    background-color: #294c71;
    width: 85%;
    margin: 10px auto;
    padding: 5px 5px;
    color: #FFF;
}

ul#nomes {
    display: block;
    background: #FFF;
    margin: 10px;
    list-style-type: none;
}

#nomes li {
    padding-left: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1.2em;
    margin: 5px;
}

#nomes li:hover {
    color: #a5a5a5;
    padding-left: 25px;
    cursor: pointer;
    background: url(./imagens/marcador.png) no-repeat left;
}

#leftbar {
    width: 22%;
    background: url(./imagens/fundo-caixa.png);
    padding: 3px;
    margin-top: 20px;
    float: right;
}

#primario {
    float: right;
    width: 35%; 
    margin: 20px 10px;
    background: url(./imagens/fundo-caixa.png);
}

#duas-colunas #secundario {
    float: right;
    width: 70%;
    margin: 20px 10px;
    background: url(./imagens/fundo-caixa.png);
}

#uma-coluna #primario {
    width: 100%;
    float: left;
}

#secundario {
    float: right;
    width: 35%;
    margin: 20px;
    background: url(./imagens/fundo-caixa.png);
}

.noticia {
    width: 85%;
    margin: 10px auto;
    background-color: #FFF;
}

.noticia h3 {
    background-color: #e10039;
    font-size: 0.9em;
    width: 50%;
    display: inline;
    padding: 2px;
    color: #FFF;
}

.noticia img {
    width: 100%;
    margin-top: 5px;
}

.noticia a {
    color: #b20030;
    font-size: 1.1em;
}

#container-rodape {
    background-color: #294c71;
    padding: 20px;
    bottom: 0;
    position: relative;
    width: 100%;
    color: #FFF;
}

.lista-img {
    width: 85%;
    margin: 10px auto;
    background-color: #FFF;
}

.lista-img img {
    width: 40%;
    margin-top: 1px;
    float: left;
}

.lista-img h4 {
    margin-top: 5px;
    color: #4384ca;
}

.lista-img p {
    font-size: 1em;
}

hr {
    clear: both;
    margin-top: 30px;
}

#formulario {
    background-color: #FFF;
    display: block;
    background: #FFF;
    margin: 10px;
}

input, label {
    margin-left: 10px;
    cursor: auto;
}

input {
    margin-bottom: 5px;
}

#cadastrar {
    background-color: #e10039;
    padding: 5px;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
}
